/*application.html*/

header{
  display: flex;
  background-color: #232f3e;
}

#booklist{
  width:20%;
  font-size: 3em;
}
.booklist{
  color: green;
}

/*search-form*/
#navbox-container{
  width:30%;
  height:60px;
  #navform{
    display: flex;
  }
   
}

.mypage{
  padding-top:1rem;
}
#tomypage{
  width:20%;
  color:white;
}
