/*users/show.html*/
.name{
  height:80px;
  position:relative;
  .name-content{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 15%;
    height: 2rem;
  }
}

.yourends{
  width:1012px;
  margin:0 auto;
  .yourends-center{
    width:100%;
    border:solid 1px #C0C0C0;
    .yourends-center-year{

    }
    .yourends-center-books{
      margin-top:20px;
      margin-bottom:20px;
      .book-content{
        margin-left:40px;
        margin-top:20px;
        display:flex;
        width:95%;
        .book-content-left{
          .book-content-img{
            width:150px;
            .critical-img{
              max-width: 100%;
            }
          }
        }
        .book-content-center{
          padding-left:2.5%;
          .book-content-row{
            margin-bottom:10px;
          }
        }
        .book-content-right{
          padding-left:2.5%;
          font-size: 17px;
          width:70%;
          word-break: break-all;
          .row-list{
            color:#5D99FF	;
          }
          .book-content-review{
            margin-top:10px;
            height:80%;
            font-size: 15px;
          }
        }
      }
    }
  }
}
